In [1]:
import pandas as pd

endereco_arquivo = r'C:\Users\FapesbAPP0043 2023\OneDrive\Felipe\3-Artigos\debentures\data\raw\Debentures.com.br_Caracteristica_em_25-10-2025_as_10-51-22.xls'

# Leitura do arquivo (a extensão é 'xls', mas o arquivo está formatado como csv separado por espaços)
dados = pd.read_csv(endereco_arquivo, sep='\t', header=2, encoding='cp1252')

C:\Users\FapesbAPP0043 2023\AppData\Local\Temp\ipykernel_6568\2784879011.py:6: DtypeWarning: Columns (69) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(endereco_arquivo, sep='\t', header=2, encoding='cp1252')

In [2]:
dados.head()

,Codigo do Ativo,Empresa,Serie,Emissao,IPO,Situacao,ISIN,Registro CVM da Emissao,Data de Registro CVM da Emissao,Registro CVM do Programa,...,Participacao - Carencia,Participacao - Descricao,Banco Mandatario,Agente Fiduciario,Instituicao Depositaria,Coordenador Lider,CNPJ,Deb. Incent. (Lei 12.431),Escritura Padronizada,Resgate Antecipado
0,AAJR11,FILADELFIA SECURITIZADORA S/A,UNI,1,-,Registrado,BRAAJRDBS002,AUT/OTS/PRI/2025/112,24/06/2025,NaN,...,NaN,NaN,BANCO BRADESCO S/A,PLANNER CV S/A,BANCO BRADESCO S/A,FILADELFIA SECURITIZADORA S/A,31907982000123,N,NaN,N
1,AALM11,AURA ALMAS MINERACAO S.A.,UNI,1,-,Excluído,BRAALMDBS009,DISPENSA ICVM 476/09,19/07/2021,NaN,...,NaN,NaN,NaN,OLIVEIRA TRUST DTVM S/A,OLIVEIRA TRUST DTVM S/A,BCO BTG PACTUAL S/A,8213823000107,N,NaN,S
2,AALM12,AURA ALMAS MINERACAO S.A.,UNI,2,-,Registrado,BRAALMDBS017,AUT/DEB/PRI/2024/652,16/10/2024,NaN,...,NaN,NaN,ITAU UNIBANCO S.A.,OLIVEIRA TRUST DTVM S/A,ITAU CV S/A,ITAU UNIBANCO HOLDING S.A,8213823000107,N,NaN,S
3,AALR11,ALLIANCA SAUDE E PARTICIPACOES S.A.,001,1,-,Excluído,BRAALRDBS008,DISPENSA ICVM 476/09,13/10/2017,NaN,...,NaN,NaN,ITAU UNIBANCO S.A.,PENTAGONO S/A DTVM,ITAU CV S/A,BANCO ITAU-BBA S/A,42771949001883,N,NaN,S
4,AALR12,ALLIANCA SAUDE E PARTICIPACOES S.A.,001,2,-,Excluído,BRAALRDBS024,DISPENSA ICVM 476/09,16/08/2019,NaN,...,NaN,NaN,BANCO BRADESCO S/A,PENTAGONO S/A DTVM,BANCO BRADESCO S/A,XP INVESTIMENTOS CCTVM S/A,42771949001883,N,NaN,S

In [3]:
# Converter a coluna para datetime (formato dia/mês/ano)
dados['Data de Emissao'] = pd.to_datetime(dados['Data de Emissao'], format='%d/%m/%Y', errors='coerce')

# Criar a coluna com o ano
dados['ano'] = dados['Data de Emissao'].dt.year

# Criar a coluna com o valor total emitido
dados['Quantidade Emitida'] = dados['Quantidade Emitida'].astype(float)
dados['Valor Nominal na Emissao'] = dados['Quantidade Emitida'].astype(float)
dados['valor_total'] = dados['Quantidade Emitida']*dados['Valor Nominal na Emissao']

In [4]:
dados.columns

Index(['Codigo do Ativo', 'Empresa        ', 'Serie', 'Emissao', 'IPO',
       'Situacao', 'ISIN', 'Registro CVM da Emissao',
       'Data de Registro CVM da Emissao', 'Registro CVM do Programa',
       'Data de Registro CVM do Programa', 'Data de Emissao',
       ' Data de Vencimento', 'Motivo de Saida ',
       'Data de Saida / Novo Vencimento', ' Data do Inicio da Rentabilidade',
       'Data do Inicio da Distribuicao', 'Data da Proxima Repactuacao',
       'Ato Societario (1)', 'Data do Ato (1)', 'Ato Societario (2)',
       'Data do Ato (2)', 'Forma', 'Garantia/Especie', 'Classe',
       'Quantidade Emitida', 'Artigo 14', 'Artigo 24', 'Quantidade em Mercado',
       'Quantidade em Tesouraria', 'Quantidade Resgatada',
       'Quantidade  Cancelada', 'Quantidade Convertida no SND',
       'Quantidade Convertida fora do SND', 'Quantidade Permutada no SND',
       'Quantidade Permutada fora do SND', 'Unidade Monetaria',
       'Valor Nominal na Emissao', 'Unidade Monetaria.1',
       'Valor Nominal Atual', 'Data Ult. VNA', 'indice', 'Tipo',
       'Criterio de Calculo', 'Dia de Referencia para indice de Precos',
       'Criterio para indice', 'Corrige a cada',
       'Percentual Multiplicador/Rentabilidade', 'Limite da TJLP',
       'Tipo de Tratamento do Limite da TJLP', 'Juros Criterio Antigo do SND',
       'Premios Criterio Antigo do SND', 'Amortizacao - Taxa',
       'Amortizacao - Cada', 'Amortizacao - Unidade', 'Amortizacao - Carencia',
       'Amortizacao - Criterio', 'Tipo de Amortizacao',
       'Juros Criterio Novo - Taxa', 'Juros Criterio Novo - Prazo',
       'Juros Criterio Novo - Cada', 'Juros Criterio Novo - Unidade',
       'Juros Criterio Novo - Carencia', 'Juros Criterio Novo - Criterio',
       'Juros Criterio Novo - Tipo', 'Premio Criterio Novo - Taxa',
       'Premio Criterio Novo - Prazo', 'Premio Criterio Novo - Cada',
       'Premio Criterio Novo - Unidade', 'Premio Criterio Novo - Carencia',
       'Premio Criterio Novo - Criterio', 'Premio Criterio Novo - Tipo',
       'Participacao - Taxa', 'Participacao - Cada', 'Participacao - Unidade',
       'Participacao - Carencia', 'Participacao - Descricao',
       'Banco Mandatario', 'Agente Fiduciario', 'Instituicao Depositaria',
       'Coordenador Lider', 'CNPJ', 'Deb. Incent. (Lei 12.431)',
       'Escritura Padronizada', 'Resgate Antecipado', 'ano', 'valor_total'],
      dtype='object')

In [6]:
tabela_emissoes_ano = pd.pivot_table(
    dados,
    index='ano',
    values='valor_total',
    aggfunc=['count', 'sum']
)

tabela_emissoes_ano

           count           sum
     valor_total   valor_total
ano
1981          11  4.993557e+08
1982           9  7.630268e+08
1983           3  8.213668e+09
1984           3  2.203125e+08
1985           2  5.090000e+07
1986           1  5.520620e+08
1987           2  1.389784e+10
1988          23  1.815076e+13
1989          41  4.821229e+13
1990          83  5.231223e+11
1991          82  1.489869e+12
1992          56  6.666291e+16
1993         139  1.263643e+14
1994          85  1.135413e+11
1995         170  4.300996e+16
1996         224  3.265201e+18
1997         116  1.798275e+17
1998         113  2.349057e+14
1999          45  3.452682e+11
2000          52  7.053643e+11
2001          84  7.234059e+11
2002          43  1.682788e+16
2003          21  2.820726e+10
2004          47  2.680031e+16
2005          59  5.770974e+18
2006          69  1.332482e+17
2007          79  1.826442e+17
2008          40  7.057336e+15
2009         113  4.404467e+13
2010         197  3.688950e+12
2011         213  2.257627e+19
2012         359  5.887921e+17
2013         364  4.112216e+14
2014         361  4.302282e+14
2015         273  1.004593e+16
2016         249  6.933842e+17
2017         362  3.529831e+18
2018         471  1.265565e+19
2019         532  4.479785e+18
2020         369  4.526665e+18
2021         673  2.780023e+19
2022         586  2.161642e+18
2023         469  6.332404e+18
2024         979  2.947771e+19
2025         881  4.007704e+19

In [12]:
tabela_emissoes_indexador = pd.pivot_table(
    dados,
    index='ano',
    columns = 'indice',
    values='valor_total',
    aggfunc=['count', 'sum']
).fillna(0).reset_index()

tabela_emissoes_indexador[tabela_emissoes_indexador['ano']>2000]

         ano count                                                ...  \
indice       ANBID  BTN     DI DOLAR EURO  FDS IGP-DI IGP-M INPC  ...
20      2001   1.0  0.0   47.0   0.0  0.0  0.0    0.0  28.0  2.0  ...
21      2002   0.0  0.0   35.0   0.0  0.0  0.0    0.0   6.0  0.0  ...
22      2003   0.0  0.0   17.0   0.0  0.0  0.0    0.0   2.0  0.0  ...
23      2004   0.0  0.0   34.0   2.0  0.0  0.0    0.0   9.0  0.0  ...
24      2005   0.0  0.0   51.0   0.0  0.0  0.0    0.0   8.0  0.0  ...
25      2006   0.0  0.0   60.0   0.0  0.0  0.0    0.0   7.0  0.0  ...
26      2007   0.0  0.0   68.0   1.0  0.0  0.0    0.0   2.0  0.0  ...
27      2008   0.0  0.0   34.0   0.0  0.0  0.0    0.0   0.0  0.0  ...
28      2009   0.0  0.0   87.0   0.0  0.0  0.0    0.0   1.0  1.0  ...
29      2010   0.0  0.0  151.0   0.0  0.0  0.0    0.0   3.0  0.0  ...
30      2011   0.0  0.0  171.0   1.0  0.0  0.0    0.0  13.0  0.0  ...
31      2012   0.0  0.0  284.0   0.0  0.0  0.0    0.0   2.0  0.0  ...
32      2013   0.0  0.0  281.0   2.0  0.0  0.0    0.0   0.0  0.0  ...
33      2014   0.0  0.0  305.0   2.0  0.0  0.0    0.0   0.0  1.0  ...
34      2015   0.0  0.0  207.0   0.0  0.0  0.0    0.0   0.0  0.0  ...
35      2016   0.0  0.0  203.0   1.0  0.0  0.0    0.0   0.0  0.0  ...
36      2017   0.0  0.0  278.0   0.0  0.0  0.0    0.0   0.0  0.0  ...
37      2018   0.0  0.0  363.0   1.0  0.0  0.0    0.0   1.0  0.0  ...
38      2019   0.0  0.0  402.0   1.0  0.0  0.0    0.0   0.0  0.0  ...
39      2020   0.0  0.0  233.0   2.0  0.0  0.0    0.0   0.0  0.0  ...
40      2021   0.0  0.0  480.0   1.0  0.0  0.0    0.0   0.0  0.0  ...
41      2022   0.0  0.0  447.0   3.0  0.0  0.0    0.0   0.0  0.0  ...
42      2023   0.0  0.0  316.0   5.0  0.0  0.0    0.0   0.0  0.0  ...
43      2024   0.0  0.0  685.0   5.0  0.0  0.0    0.0   1.0  0.0  ...
44      2025   0.0  0.0  648.0   6.0  2.0  0.0    0.0   0.0  0.0  ...

                 sum                                                         \
indice           PRÉ       PÓS       SELIC    SEM-ÍNDICE  TBF          TJLP
20      6.336100e+08       0.0         0.0  1.750000e+09  0.0  1.119572e+07
21      0.000000e+00       0.0  54088000.0  0.000000e+00  0.0  0.000000e+00
22      0.000000e+00       0.0         0.0  0.000000e+00  0.0  3.600000e+09
23      0.000000e+00       0.0         0.0  1.000000e+08  0.0  0.000000e+00
24      0.000000e+00       0.0         0.0  0.000000e+00  0.0  0.000000e+00
25      0.000000e+00       0.0         0.0  0.000000e+00  0.0  0.000000e+00
26      0.000000e+00       0.0         0.0  0.000000e+00  0.0  0.000000e+00
27      0.000000e+00       0.0         0.0  0.000000e+00  0.0  0.000000e+00
28      0.000000e+00       0.0         0.0  0.000000e+00  0.0  0.000000e+00
29      2.500000e+11       0.0         0.0  0.000000e+00  0.0  0.000000e+00
30      0.000000e+00       5.0         0.0  9.409000e+03  0.0  0.000000e+00
31      1.686017e+11  176400.0         0.0  9.120400e+10  0.0  1.000000e+04
32      3.393380e+11       0.0         0.0  5.483915e+12  0.0  1.960000e+04
33      2.625787e+13       0.0         0.0  1.000000e+02  0.0  0.000000e+00
34      1.000000e+06       0.0         0.0  1.021408e+12  0.0  1.532178e+08
35      1.000001e+16       0.0         0.0  3.000000e+11  0.0  0.000000e+00
36      1.960000e+16       0.0         0.0  1.125375e+17  0.0  0.000000e+00
37      1.520484e+11       0.0         0.0  5.672618e+14  0.0  0.000000e+00
38      1.027365e+13       0.0         0.0  1.455381e+16  0.0  0.000000e+00
39      5.244280e+11       0.0         0.0  3.711149e+14  0.0  0.000000e+00
40      1.419232e+12       0.0         0.0  2.565190e+18  0.0  0.000000e+00
41      9.457212e+12       0.0         0.0  8.570394e+14  0.0  0.000000e+00
42      1.134855e+13       0.0         0.0  8.560525e+10  0.0  0.000000e+00
43      1.690013e+18       0.0         0.0  5.062500e+18  0.0  0.000000e+00
44      1.234089e+16       0.0         0.0  6.225251e+17  0.0  0.000000e+00


indice            TR TR-REAL UFIR US$ COMERCIAL
20      0.000000e+00     0.0  0.0  0.000000e+00
21      0.000000e+00     0.0  0.0  0.000000e+00
22      0.000000e+00     0.0  0.0  0.000000e+00
23      0.000000e+00     0.0  0.0  0.000000e+00
24      0.000000e+00     0.0  0.0  0.000000e+00
25      0.000000e+00     0.0  0.0  8.711572e+11
26      0.000000e+00     0.0  0.0  2.500000e+03
27      0.000000e+00     0.0  0.0  0.000000e+00
28      9.400010e+05     0.0  0.0  3.686400e+04
29      2.525010e+11     0.0  0.0  0.000000e+00
30      6.003400e+08     0.0  0.0  0.000000e+00
31      9.120250e+07     0.0  0.0  0.000000e+00
32      1.687500e+10     0.0  0.0  0.000000e+00
33      2.859080e+09     0.0  0.0  0.000000e+00
34      3.963110e+13     0.0  0.0  0.000000e+00
35      0.000000e+00     0.0  0.0  0.000000e+00
36      0.000000e+00     0.0  0.0  0.000000e+00
37      1.436310e+18     0.0  0.0  0.000000e+00
38      8.641154e+16     0.0  0.0  0.000000e+00
39      2.059201e+18     0.0  0.0  0.000000e+00
40      0.000000e+00     0.0  0.0  0.000000e+00
41      2.689079e+16     0.0  0.0  0.000000e+00
42      5.625000e+09     0.0  0.0  0.000000e+00
43      1.191176e+11     0.0  0.0  0.000000e+00
44      3.336500e+18     0.0  0.0  0.000000e+00

[25 rows x 49 columns]

In [18]:
tabela_emissoes_banco = pd.pivot_table(
    dados,
    index='Coordenador Lider',
    values='valor_total',
    aggfunc={'valor_total': ['count', 'sum']}  # usar dicionário
).fillna(0).reset_index()

# Achatar as colunas
tabela_emissoes_banco.columns = ['Coordenador Lider','count', 'sum']

tabela_emissoes_banco.sort_values('sum', ascending=False)

                                     Coordenador Lider  count           sum
27                      BANCO BRADESCO BBI S/A            987  3.833955e+19
73                                     BANCO MODAL S.A     60  2.516977e+19
197                NU INVEST CORRETORA DE VALORES S.A.      5  2.256250e+19
203                             OSLO CAPITAL DTVM S.A.    112  1.660620e+19
91                        BANCO SANTANDER (BRASIL) S/A    564  7.721036e+18
..                                                 ...    ...           ...
95                   BANCO SOCIETE GENERALE BRASIL S/A      2  1.250000e+03
7    ATICO DISTRIBUIDORA DE TITULOS E VALORES MOBIL...      1  9.000000e+02
175                                 INTRADER DTVM LTDA      1  6.250000e+02
57                      BANCO GERADOR S/A                   1  1.000000e+02
171                                        ID CTVM S/A      1  1.600000e+01

[236 rows x 3 columns]

In [19]:
# Criar coluna com a informação se a emissão é pela resolução ICVM 476
dados['cvm_476'] = [1 if item == 'DISPENSA ICVM 476/09' else 0 for item in dados['Registro CVM da Emissao']]

In [23]:
tabela_emissoes_tipo = pd.pivot_table(
    dados,
    index='cvm_476',
    columns = 'Deb. Incent. (Lei 12.431)',
    values='valor_total',
    aggfunc= 'count' 
).fillna(0)

tabela_emissoes_tipo

Deb. Incent. (Lei 12.431)     N    S
cvm_476
0                          4003  741
1                          3952  457

In [ ]:
# Valor apenas das emissões depois de 2000

tabela_emissoes_tipo = pd.pivot_table(
    dados[dados['ano']>2000],
    index='cvm_476',
    columns = 'Deb. Incent. (Lei 12.431)',
    values='valor_total',
    aggfunc= 'sum' 
).fillna(0)

tabela_emissoes_tipo

Deb. Incent. (Lei 12.431)             N             S
cvm_476
0                          9.137045e+19  3.337300e+18
1                          6.630779e+19  3.235019e+16